/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges * /
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
* /
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default * /
input,
select,
textarea {
    max-width: 280px;
}*/

.calendar {
    text-align: center;
    border: 1px solid black;
    font-size: 0.8em
}
.calender .center {
    text-align:left;
}

.cal {
    background-color: #afc9dc; /*#e9f0f5*/
}

.left {
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 1px 1px;
}

.right {
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 1px 0px;
}

.number {
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
}

.left-number {
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 1px;
}

.left-bottom {
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 1px;
}

.right-bottom {
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
}

.blank-right {
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 0px 0px;
}

.hidden {
    display: none;
}

.dayOfWeek {
    background-color: #5f81b7;
    color: aliceblue;
    text-align: center;
}

.currentDay {
    background-color: #ead0ba; /*#ccc*/
}

.col .col-2 .col-3 .col-9 .col-10 .col-12 {
    padding: 0px 0px 0px 0px;
}

.other-month {
    background-color: #f6f5fe;
}

